@font-face {
   font-family: 'Gotham-Bold';
   src: url('Gotham-Bold/font.ttf');
}
@font-face {
   font-family: 'Gotham-Book';
   src: url('Gotham-Book/font.ttf');
}
@font-face {
   font-family: 'Gotham-Light';
   src: url('Gotham-Light/font.ttf');
}
